* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    /* width: 100%; */
    /* min-width: 1920px; */
    /* max-width: 1920px; */
    /* height: 1024px; */
    /* overflow: auto;
    cursor: default;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
}

ul,
ul li {
    list-style: none
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

@font-face {
    font-family: DINAlternate-Bold;
    /* src: url(../font/DINALTERNATE.otf); */
    src: url(../font/DINAlternateBold.ttf);
    /* src: url(../font/DINAlternateBold2.ttf); */
}

.white {
    color: #ffffff;
    font-size: 26px;
}

.white40 {
    color: #ffffff;
    font-size: 40px;
}

.white34 {
    color: #ffffff!important;
    font-size: 34px!important;
}

.yellow {
    color: #ffec00;
    font-size: 32px;
}

.yellow34 {
    color: #ffec00!important;
    font-size: 34px!important;
}

.red {
    font-weight: bold;
    color: #ff6161;
    font-size: 26px;
    line-height: 30px;
}

.green {
    color: #00ff00;
    font-weight: bold;
    font-size: 26px;
}

.yellow20 {
    color: #ffec00;
    font-size: 20px;
}

.yellow40 {
    color: #ffec00;
    font-size: 40px;
}

.yellow44 {
    color: #ffec00;
    font-size: 44px;
}

.yellow26 {
    color: #ffec00;
    font-size: 26px;
}

.red22 {
    color: #ff6161;
    font-size: 22px;
}

.DINAlternate-Bold {
    font-family: DINAlternate-Bold!important;
    font-weight: normal!important;
}

.white24 {
    font-size: 24px;
    font-family: DINAlternate-Bold, DINAlternate;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 28px;
}

span {
    /* margin-right: -5px
     */
}

.size16 {
    font-size: 16px!important;
}

.size14 {
    font-size: 14px!important;
}

.line {
    width: 80px;
    height: 4px;
    background: url(../../assets/img/leftLine.png) no-repeat;
    background-size: 100% 100%;
}

.lineReserve {
    width: 80px;
    height: 4px;
    background: url(../../assets/img/rightLine.png) no-repeat;
    background-size: 100% 100%;
}